<div class='title'>
<h1> Welcome to your movie lists</h1>
</div>
<div>
<p class="btn btn-info btn-lg"> <%= link_to "<button>Create a movie list</button>".html_safe, lists_new_path %> </p>
</div>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
